.page {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	padding: 40px;
	width: 1000px;
	padding-bottom: 60px;
}

.page-title {
	margin-bottom: 30px;
}

.dashboard {
	/* Add styles for the dashboard if needed */
}

.nav { 
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.nav h4 {
	margin-right: 40px;
	cursor: pointer;
}

.nav h4:hover {
	text-decoration: overline;
}

/* Auth form */
.form-title {
	font-weight: 800;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.under-form {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.link {
	color: blue;
}

/* Profile */
.profile {
	margin-top: 20px;
}

.logout-btn {
	background: white;
}

.feed {
	padding: 40px 110px;
}

.posts {
	margin-top: 20px;
}

.post {
	border-radius: 8px;
	padding: 20px 0px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 20px;
	cursor: pointer;
	display: flex;
}

.post:hover {
	background: lightgray;
}

.post-text {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.post-btn {
	margin-right: 10px;
}

.post-form textarea {
	width: 100%;
}

.post-container {
	padding: 8px;
}

.btn-delete {
	background: darkred !important;
	margin-left: 20px;
	color: white !important;
}

.upload-group {
	margin-top: 10px;
	margin-bottom: 20px;
}

.text-input {
	margin-bottom: 20px;
}

.file-input {
	margin-bottom: 20px;
	width: 100%;
}

.media-post-img {
	width: 200px;
	height: 150px;
	object-fit: cover;
}

.feed-tabs {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-btn {
	border: none;
	background: none;
}

.logo {
	width: 300px;
}

.test {
	display: flex;
	justify-content: center;
}

.errorMessage {
	color: red;
}

.img-container {
	display: flex;
	justify-content: center;
	box-sizing: content-box;
	width: 50%;
}

.img-container img {
	width: 300px;
}

.post-info {
	display: flex;
}

.title {
	font-weight: 800;
	font-size: larger;
}

.text {
	color: gray;
	font-weight: 300;
	font-size: 14px;
}

.nav-img-container img {
	width: 180px;
}

.tabs-container {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.without-image .info-container{
	padding-left: 10px;
}
.without-image img {
	display: none;
}

.info-container {
	padding-left: 30px;
}

.the-form {
	padding: 0 230px;
}

.the-form img {
	width: 240px;
	margin-bottom: 40px;
}

#last {
	margin-right: 0;
}

/* Media Query for tablet and smaller screens (max-width: 768px) */
@media (max-width: 768px) {
	.feed {
		padding: 40px 0;
	}

	.the-form {
		padding: 0;
	}

	.page {
		width: 100%;
		padding: 0px;
	}
	
	.nav {
		flex-direction: column; /* Stack items in column for smaller screens */
		align-items: flex-start;
		padding: 0 30px;
	}

	.post{
		margin-bottom: 30px;
		padding: 20px 20px;
	}

	.the-form{
		padding: 0 150px;
	}
}
